<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://css-client1.leafkn.repl.co/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body style="margin: 20px;">
    <div>
    <h1 style="text-align: center;" class="art-title">Login</h1>
    <br>
    <div class="center">
    <form action="/articles/log" method="POST" class="finb">
        <div class="mb-3">
        <label for="title" class="form-label">Username</label>
        <input required type="text" class="form-control" name="username" id="username">
    </div>
    <br>
    <div class="mb-3">
        <label for="description" class="form-label">Password</label>
        <input required type="text" class="form-control" name="password" id="password">
    </div>
    <br>
        <button type="submit" class="btn btn-dark">Login</button>
    </form>
</div>
</div>

</body>
</html>